@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap");
@import url("../fonts/Futura-Md.ttf");
/*
  Color Variables
  ---------------
*/
/* 
  Mixins 
  ------
*/
@font-face {
  font-family: 'Futura-Md';
  src: url(../fonts/Futura-Md.ttf); }

/*
  Font Variables
  --------------
*/
/*
  Mobile Responsiveness
  ---------------------
*/
/*
  Main
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

a {
  color: #000000;
  text-decoration: none; }

a:link,
a:visited a:focus {
  text-decoration: none;
  outline: none; }

input:link,
input:hover,
input:focus,
input:active {
  outline: none;
  background-color: tranparent; }

input::placeholder {
  font-family: "Raleway", sans-serif; }

textarea::placeholder {
  color: #ffffff; }

button:link,
button:hover,
button:focus,
button:active {
  outline: none;
  background-color: tranparent; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Raleway", sans-serif; }
  @media (min-width: 320px) and (max-width: 480px) {
    html {
      font-size: 50%; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    html {
      font-size: 50%; } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    html {
      font-size: 50%; } }

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.6; }

.heading-1,
.heading-2,
.heading-3,
.heading-4 {
  font-family: "Futura-Md";
  color: #06225d; }

.heading-1 {
  font-size: 5rem;
  font-weight: 500; }
  @media (min-width: 320px) and (max-width: 480px) {
    .heading-1 {
      font-size: 3.7rem; } }

.heading-2 {
  font-size: 3.7rem; }
  @media (min-width: 320px) and (max-width: 480px) {
    .heading-2 {
      font-size: 2.8rem; } }

.heading-3 {
  font-size: 2.8rem; }
  @media (min-width: 320px) and (max-width: 576px) {
    .heading-3 {
      font-size: 2.1rem; } }

.heading-4 {
  font-size: 2.1rem; }
  @media (min-width: 320px) and (max-width: 480px) {
    .heading-4 {
      font-size: 1.6rem; } }

.heading-5 {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }

.post-details {
  font-size: 1.4rem;
  font-weight: 600;
  color: #dd792f; }

.navbar {
  background-color: transparent;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem; }
  .navbar__mobile__menu {
    display: inline-block; }
  .navbar__mobile__logo {
    display: inline-block;
    margin: 0; }
  .navbar__nav {
    justify-content: flex-end; }
    .navbar__nav__list {
      margin: 0;
      padding-left: 0;
      display: flex;
      align-items: center; }
      .navbar__nav__list__item {
        list-style: none;
        float: left; }
        .navbar__nav__list__item:not(:last-child) {
          margin-right: 4rem; }
        .navbar__nav__list__item__link {
          font-size: 1.6rem;
          text-transform: capitalize;
          font-weight: 400;
          color: #ffffff; }
          .navbar__nav__list__item__link .btn {
            text-transform: capitalize; }
    .navbar__nav__btn .btn {
      background-color: #dd792f; }
  .navbar__admin {
    justify-content: flex-end; }
    .navbar__admin__list {
      margin: 0;
      padding-left: 0;
      display: flex;
      align-items: center; }
      .navbar__admin__list__item {
        list-style: none;
        float: left; }
        .navbar__admin__list__item:not(:last-child) {
          margin-right: 4rem; }
        .navbar__admin__list__item__circle {
          height: 5rem;
          width: 5rem;
          border-radius: 50%;
          background-color: #ffffff; }
        .navbar__admin__list__item .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          padding: 12px 16px;
          z-index: 1; }
        .navbar__admin__list__item__link {
          font-size: 1.6rem;
          text-transform: capitalize;
          font-weight: 400;
          color: #ffffff; }
          .navbar__admin__list__item__link .btn {
            text-transform: capitalize; }
    .navbar__admin__btn .btn {
      background-color: #dd792f; }
  @media (min-width: 320px) and (max-width: 576px) {
    .navbar {
      display: block;
      padding: 0; }
      .navbar__mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1.6rem 2.4rem; }
        .navbar__mobile__logo {
          margin: 0;
          padding: 0; }
        .navbar__mobile__menu__bar {
          background-color: #ffffff;
          width: 3rem;
          height: 0.2rem;
          margin: 0.8rem 0;
          padding: 0; }
          .navbar__mobile__menu__bar__hide {
            -webkit-animation: bar-hide 1s linear forwards;
            animation: bar-hide 1s linear forwards; }
    @-webkit-keyframes bar-hide {
      0% {
        width: 0px;
        height: 0px; }
      100% {
        width: 0px;
        height: 0px; } }
    @keyframes bar-hide {
      0% {
        width: 0px;
        height: 0px; }
      100% {
        width: 0px;
        height: 0px; } }
          .navbar__mobile__menu__bar__cross {
            -webkit-animation: bar-cross-left 0.5s linear forwards;
            animation: bar-cross-left 0.5s linear forwards; }
    @-webkit-keyframes bar-cross-left {
      10% {
        transform: rotate(45deg) translate(4px, 4px); }
      50% {
        transform: rotate(45deg) translate(7px, 7px); }
      100% {
        transform: rotate(45deg) translate(3px, 2px); } }
    @keyframes bar-cross-left {
      10% {
        transform: rotate(45deg) translate(4px, 4px); }
      50% {
        transform: rotate(45deg) translate(7px, 7px); }
      100% {
        transform: rotate(45deg) translate(3px, 2px); } }
          .navbar__mobile__menu__bar__across {
            -webkit-animation: bar-cross-right 0.5s linear forwards;
            animation: bar-cross-right 0.5s linear forwards; }
    @-webkit-keyframes bar-cross-right {
      10% {
        transform: rotate(-45deg); }
      60% {
        transform: rotate(-45deg) translate(-3px, 3px); }
      100% {
        transform: rotate(-45deg) translate(1px, -2px); } }
    @keyframes bar-cross-right {
      10% {
        transform: rotate(-45deg); }
      60% {
        transform: rotate(-45deg) translate(-3px, 3px); }
      100% {
        transform: rotate(-45deg) translate(1px, -2px); } }
      .navbar__nav {
        display: none;
        position: static; }
        .navbar__nav__toggle {
          display: block; }
        .navbar__nav__list {
          flex-direction: column;
          align-items: flex-start;
          margin: 0;
          padding: 0; }
          .navbar__nav__list__item {
            list-style: none;
            float: none;
            padding: 2% 5%; }
            .navbar__nav__list__item__link {
              font-size: 1.8rem;
              color: #06225d;
              font-weight: 400; }
        .navbar__nav__btn {
          padding: 2% 5%;
          display: none;
          text-align: left; }
          .navbar__nav__btn .btn {
            margin-top: 1.6rem; }
      .navbar__admin {
        display: none;
        position: static; }
        .navbar__admin__toggle {
          display: block; }
        .navbar__admin__list {
          flex-direction: column;
          align-items: flex-start;
          margin: 0;
          padding: 0; }
          .navbar__admin__list__item {
            list-style: none;
            float: none;
            padding: 2% 5%; }
            .navbar__admin__list__item__link {
              font-size: 1.8rem;
              color: #06225d;
              font-weight: 400; }
        .navbar__admin__btn {
          padding: 2% 5%;
          display: none; }
          .navbar__admin__btn .btn {
            margin-top: 1.6rem; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .navbar {
      display: block;
      padding: 0; }
      .navbar__mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1.6rem 2.4rem; }
        .navbar__mobile__logo {
          margin: 0;
          padding: 0; }
        .navbar__mobile__menu__bar {
          background-color: #06225d;
          width: 3rem;
          height: 0.2rem;
          margin: 0.8rem 0;
          padding: 0; }
          .navbar__mobile__menu__bar__hide {
            -webkit-animation: bar-hide 1s linear forwards;
            animation: bar-hide 1s linear forwards; }
    @-webkit-keyframes bar-hide {
      0% {
        width: 0px;
        height: 0px; }
      100% {
        width: 0px;
        height: 0px; } }
    @keyframes bar-hide {
      0% {
        width: 0px;
        height: 0px; }
      100% {
        width: 0px;
        height: 0px; } }
          .navbar__mobile__menu__bar__cross {
            -webkit-animation: bar-cross-left 0.5s linear forwards;
            animation: bar-cross-left 0.5s linear forwards; }
    @-webkit-keyframes bar-cross-left {
      10% {
        transform: rotate(45deg) translate(4px, 4px); }
      50% {
        transform: rotate(45deg) translate(7px, 7px); }
      100% {
        transform: rotate(45deg) translate(3px, 2px); } }
    @keyframes bar-cross-left {
      10% {
        transform: rotate(45deg) translate(4px, 4px); }
      50% {
        transform: rotate(45deg) translate(7px, 7px); }
      100% {
        transform: rotate(45deg) translate(3px, 2px); } }
          .navbar__mobile__menu__bar__across {
            -webkit-animation: bar-cross-right 0.5s linear forwards;
            animation: bar-cross-right 0.5s linear forwards; }
    @-webkit-keyframes bar-cross-right {
      10% {
        transform: rotate(-45deg); }
      60% {
        transform: rotate(-45deg) translate(-3px, 3px); }
      100% {
        transform: rotate(-45deg) translate(1px, -2px); } }
    @keyframes bar-cross-right {
      10% {
        transform: rotate(-45deg); }
      60% {
        transform: rotate(-45deg) translate(-3px, 3px); }
      100% {
        transform: rotate(-45deg) translate(1px, -2px); } }
      .navbar__nav {
        display: none;
        position: static; }
        .navbar__nav__toggle {
          display: block; }
        .navbar__nav__list {
          flex-direction: column;
          align-items: flex-start;
          margin: 0;
          padding: 0; }
          .navbar__nav__list__item {
            list-style: none;
            float: none;
            padding: 2% 5%; }
            .navbar__nav__list__item .active {
              border-left: 1.5px solid #dd792f;
              padding: 0 0 0 0.5rem;
              border-bottom: 0; }
            .navbar__nav__list__item__link {
              font-size: 1.8rem; }
      .navbar__admin {
        display: none;
        position: static; }
        .navbar__admin__toggle {
          display: block; }
        .navbar__admin__list {
          flex-direction: column;
          align-items: flex-start;
          margin: 0;
          padding: 0; }
          .navbar__admin__list__item {
            list-style: none;
            float: none;
            padding: 2% 5%; }
            .navbar__admin__list__item .active {
              border-left: 1.5px solid #dd792f;
              padding: 0 0 0 0.5rem;
              border-bottom: 0; }
            .navbar__admin__list__item__link {
              font-size: 1.8rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .navbar {
      padding: 4.8rem 3.2rem; }
      .navbar__mobile__logo__link__image {
        height: 5rem;
        width: 11rem; }
      .navbar__nav__list__item__link {
        font-size: 1.45rem; }
      .navbar__admin__list__item__link {
        font-size: 1.45rem; } }

.nav-admin {
  background-color: #06225d; }

.footer {
  padding: 9.6rem 0;
  background-color: #06225d;
  color: #ffffff;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  width: 100%; }
  .footer .container {
    width: 100%; }
  .footer__logo {
    margin-bottom: 2.4rem; }
    .footer__logo__image {
      height: 5.6rem; }
  .footer__text {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 3.2rem; }
    .footer__text__item {
      display: flex; }
      .footer__text__item__image {
        margin-right: 0.8rem; }
  .footer hr {
    height: 0.1rem;
    background: #ffffff;
    border: 0;
    margin-bottom: 3.2rem; }
  .footer__dev {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .footer__dev .paragraph {
      font-size: 1.4rem; }
    .footer__dev__sm img {
      height: 2.4rem; }
  @media (min-width: 320px) and (max-width: 576px) {
    .footer {
      padding: 9.6rem 2.4rem; }
      .footer__text {
        flex-direction: column; }
        .footer__text > * {
          margin-bottom: 1.6rem; }
      .footer__dev {
        flex-direction: column-reverse;
        align-items: flex-start; }
        .footer__dev__sm {
          margin-bottom: 2.4rem;
          margin-left: -1.6rem; } }

.btn {
  height: 4rem;
  padding: 0 2rem;
  background-color: #06225d;
  color: #ffffff;
  text-transform: capitalize;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  outline: none;
  border: 0px;
  border-radius: 0.5rem; }

input {
  height: 4.8rem;
  border: 2px solid #ffffff;
  width: 50rem;
  padding-left: 1.6rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif; }

textarea {
  width: 100%;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 0.5rem;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  color: #ffffff;
  font-size: 1.6rem;
  outline: none;
  font-family: "Raleway", sans-serif; }

.separator {
  width: 8rem;
  height: 0.3rem;
  background: #dd792f;
  border: 0;
  margin: 2.4rem 0; }

.banner {
  position: relative;
  padding: 9.6rem 0; }
  .banner__image {
    width: 100%;
    height: 60rem; }
  .banner__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 2.4rem;
    justify-content: center;
    height: 100%;
    position: absolute;
    top: 0;
    color: #ffffff; }
    .banner__text__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-bottom: 2.4rem; }
      .banner__text__header .heading-2 {
        color: #ffffff; }
      .banner__text__header .paragraph {
        width: 64rem;
        text-align: center;
        margin-bottom: 2.4rem; }
    .banner__text__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      .banner__text__form__btn {
        background-color: #dd792f;
        width: 30%;
        margin-top: 2.4rem; }
  @media (min-width: 320px) and (max-width: 576px) {
    .banner__text__header .paragraph {
      width: 85%; }
    .banner__text__form {
      width: 100%; }
      .banner__text__form input {
        width: 85%; } }

@media all and (min-width: 1024px) and (max-width: 1440px) {
  .container {
    padding: 0 12.8rem; } }

@media all and (min-width: 1440px) and (max-width: 1920px) {
  .container {
    padding: 0 24rem; } }

@media all and (min-width: 1920px) {
  .container {
    padding: 0 32rem;
    max-width: 192rem;
    margin: 0 auto; } }

.container-navbar {
  position: absolute;
  z-index: 30;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100%; }
  @media (min-width: 320px) and (max-width: 576px) {
    .container-navbar {
      text-align: unset; } }

.container-footer {
  background-color: #06225d;
  width: 100%; }

.container-contact__text {
  height: 100%; }

.header {
  position: relative;
  width: 100%;
  height: 100vh; }
  .header__container {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1; }
    .header__container__image {
      position: absolute;
      height: 100%; }
  .header__bg {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    z-index: -1; }
    .header__bg__section {
      width: 25%;
      height: 100%; }
    .header__bg__section:nth-of-type(1) {
      background-color: rgba(6, 34, 93, 0.8); }
    .header__bg__section:nth-of-type(2) {
      background-color: rgba(6, 34, 93, 0.75); }
    .header__bg__section:nth-of-type(3) {
      background-color: rgba(6, 34, 93, 0.7); }
    .header__bg__section:nth-of-type(4) {
      background-color: rgba(6, 34, 93, 0.65); }
  .header__text {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff; }
    .header__text .heading-1 {
      color: #ffffff; }
    .header__text .paragraph {
      width: 70rem;
      text-align: center; }
    .header__text__sm {
      margin-top: 3.2rem; }
      .header__text__sm__icon {
        width: 4rem; }
        .header__text__sm__icon:last-child {
          margin-left: 0.8rem; }
  @media (min-width: 320px) and (max-width: 576px) {
    .header {
      height: 100vh; }
      .header__container__image {
        background-position: cover;
        left: -120%; }
      .header__bg {
        height: 100%; }
      .header__text {
        padding: 0 2.4rem; }
        .header__text .paragraph {
          width: 100%; } }

.header-two {
  height: 60vh; }
  .header-two__image {
    width: 100%;
    margin-top: -8%;
    height: 150%; }
  .header-two__heading {
    color: #ffffff; }
  @media (min-width: 320px) and (max-width: 576px) {
    .header-two {
      height: 60vh; }
      .header-two__image {
        height: 100%;
        margin-top: 0;
        width: unset; } }

.who-we-are {
  display: flex;
  flex-direction: column;
  padding: 5.6rem 0rem; }
  .who-we-are__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
  .who-we-are__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.2rem; }
    .who-we-are__body__container {
      position: relative; }
      .who-we-are__body__container__image {
        position: relative;
        left: 3.2rem; }
      .who-we-are__body__container__border {
        position: absolute;
        top: 3.2rem;
        height: 100%;
        width: 100%;
        border: 0.3rem solid #06225d;
        z-index: -1; }
    .who-we-are__body__text {
      width: 56rem; }
  @media (min-width: 320px) and (max-width: 576px) {
    .who-we-are {
      padding: 4.8rem 2.4rem; }
      .who-we-are__body {
        flex-direction: column; }
        .who-we-are__body__container__image {
          left: 0;
          width: 100%; }
        .who-we-are__body__container__border {
          top: 2.4rem; }
        .who-we-are__body__text {
          margin-top: 6.4rem;
          width: 100%; }
          .who-we-are__body__text .paragraph {
            text-align: justify; } }

.news {
  display: flex;
  flex-direction: column;
  padding: 9.6rem 0rem; }
  .news__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 2.4rem; }
  .news__row {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    .news__row__card {
      width: 30%;
      height: auto;
      box-shadow: 1px 2px 5px rgba(158, 158, 158, 0.25); }
      .news__row__card__image {
        width: 100%;
        height: 24rem; }
      .news__row__card .heading-4,
      .news__row__card .paragraph,
      .news__row__card .post-details {
        padding: 0.8rem 2.4rem; }
      .news__row__card .heading-4 {
        font-family: "Raleway", sans-serif;
        font-weight: 500; }
      .news__row__card .post-details {
        padding-bottom: 1.6rem; }
  @media (min-width: 320px) and (max-width: 576px) {
    .news {
      padding: 4.8rem 2.4rem; }
      .news__row {
        flex-direction: column; }
        .news__row__card {
          width: 100%;
          margin-bottom: 4.8rem; }
          .news__row__card__image {
            height: unset; }
          .news__row__card .post-details {
            padding-bottom: 2.4rem; } }

.featured {
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
  display: flex;
  justify-content: space-between; }
  .featured__txt {
    position: relative;
    width: 60%;
    top: 5rem; }
    .featured__txt .heading-3 {
      width: 75%;
      margin-bottom: 3.2rem; }
    .featured__txt .paragraph {
      width: 80%;
      margin-bottom: 3.2rem; }
  .featured__container {
    width: 40%;
    height: calc(36.5rem * 2);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    .featured__container__img {
      width: 36.5rem;
      height: 24.4rem;
      box-shadow: 0px 0px 15px 15px rgba(158, 158, 158, 0.25); }
      .featured__container__img:nth-of-type(2) {
        position: absolute;
        top: 20rem;
        right: 20rem;
        z-index: 5; }
      .featured__container__img:nth-of-type(3) {
        position: absolute;
        top: 40rem;
        right: 40rem;
        z-index: 5; }
  @media (min-width: 320px) and (max-width: 576px) {
    .featured {
      flex-direction: column;
      padding: 4.8rem 2.4rem; }
      .featured__txt {
        position: unset;
        width: 100%; }
        .featured__txt .heading-3,
        .featured__txt .paragraph {
          width: 100%;
          text-align: justify; }
        .featured__txt img {
          display: none; }
      .featured__container {
        width: 100%;
        align-items: flex-start;
        height: auto; }
        .featured__container__img:nth-of-type(n) {
          position: unset;
          width: 85%;
          margin-bottom: 3.2rem;
          box-shadow: 1px 2px 5px rgba(158, 158, 158, 0.25); } }

.about {
  padding-top: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .about__header {
    width: 45%; }
    .about__header .heading-3 {
      color: #000000; }
    .about__header .paragraph:nth-of-type(1) {
      text-transform: uppercase;
      color: #ffffff; }
    .about__header .paragraph:nth-of-type(2) {
      margin-top: 1.6rem;
      text-align: justify; }
  .about__container {
    width: 50%;
    display: flex; }
    .about__container__image {
      width: 47%; }
      .about__container__image:nth-of-type(1) {
        margin-top: 9.6rem;
        margin-right: 3.2rem; }
      .about__container__image:nth-of-type(2) {
        margin-bottom: 9.6rem; }
  @media (min-width: 320px) and (max-width: 576px) {
    .about {
      padding: 0 2.4rem 4.8rem 2.4rem;
      flex-direction: column; }
      .about__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; }
      .about__container {
        margin-top: 3.2rem;
        width: 100%; }
        .about__container__image:nth-of-type(1) {
          margin-top: 4.8rem;
          margin-right: 1.6rem; }
        .about__container__image:nth-of-type(2) {
          margin-bottom: 4.8rem; } }

.vision {
  padding: 12.8rem 0rem;
  display: flex;
  position: relative; }
  .vision__image {
    margin-top: 6.4rem;
    width: 40%; }
    .vision__image__pic {
      width: 100%;
      box-shadow: -1px 4px 10px rgba(158, 158, 158, 0.25); }
  .vision .decoration {
    position: absolute;
    left: 37%;
    top: 4rem;
    z-index: -1; }
  .vision__text {
    margin-left: auto;
    width: 60%;
    background-color: #06225d;
    padding: 6.4rem 9.6rem 7.2rem 6.4rem;
    margin-bottom: 6.4rem; }
    .vision__text > * {
      margin: 0.8rem 0;
      color: #ffffff; }
  @media (min-width: 320px) and (max-width: 576px) {
    .vision {
      padding: 4.8rem 2.4rem;
      flex-direction: column-reverse; }
      .vision .decoration {
        display: none; }
      .vision__image {
        width: 100%;
        margin: 0rem; }
      .vision__text {
        width: 100%;
        margin-bottom: 3.2rem;
        padding: 3.2rem; }
        .vision__text .paragraph {
          text-align: justify; } }

.mission {
  padding-bottom: 9.6rem; }
  .mission__header {
    margin-bottom: 2.4rem; }
    .mission__header .heading-3 {
      margin-bottom: 0.8rem; }
    .mission__header .paragraph {
      text-align: justify; }
  .mission__image {
    display: flex;
    justify-content: space-between; }
    .mission__image__pic {
      width: 30%; }
  @media (min-width: 320px) and (max-width: 576px) {
    .mission {
      padding: 0 2.4rem 4.8rem 2.4rem; }
      .mission__image {
        flex-direction: column; }
        .mission__image__pic {
          width: 100%;
          margin-bottom: 3.2rem; } }

.featured-post {
  padding: 9.8rem 0;
  display: flex;
  justify-content: space-between; }
  .featured-post__main {
    width: 57%; }
    .featured-post__main__card {
      width: 100%;
      box-shadow: 1px 2px 5px rgba(158, 158, 158, 0.25); }
      .featured-post__main__card > * {
        margin-bottom: 0.8rem; }
      .featured-post__main__card > *:not(:first-child) {
        padding-left: 1.6rem;
        padding-right: 1.6rem; }
        .featured-post__main__card > *:not(:first-child):last-child {
          padding-bottom: 1.6rem;
          margin-bottom: 0; }
      .featured-post__main__card__image {
        width: 100%;
        height: 32rem; }
  .featured-post__other {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .featured-post__other__card {
      display: flex;
      align-items: center;
      box-shadow: 1px 2px 5px rgba(158, 158, 158, 0.25); }
      .featured-post__other__card__image {
        width: 15.2rem;
        height: 15.2rem;
        margin-right: 1.6rem; }
  @media (min-width: 320px) and (max-width: 576px) {
    .featured-post {
      padding: 4rem 2.4rem 4.8rem 2.4rem;
      flex-direction: column; }
      .featured-post__main {
        width: 100%;
        margin-bottom: 3.2rem; }
      .featured-post__other {
        width: 100%; }
        .featured-post__other__card {
          margin-bottom: 3.2rem; } }

.blog-separator {
  height: 0.1rem;
  border: 0;
  background: rgba(6, 34, 93, 0.5); }
  @media (min-width: 320px) and (max-width: 576px) {
    .blog-separator {
      margin: 0 2.4rem; } }

.blog-post {
  padding: 9.8rem 0;
  display: flex;
  justify-content: space-between; }
  .blog-post__posts {
    width: 57%; }
    .blog-post__posts__card {
      display: flex;
      box-shadow: 1px 2px 5px rgba(158, 158, 158, 0.25);
      margin-bottom: 4.8rem; }
      .blog-post__posts__card__image {
        height: 22.4rem;
        width: 25.6rem;
        margin-right: 1.6rem; }
      .blog-post__posts__card__text .heading-3 {
        margin: 1.6rem 0; }
      .blog-post__posts__card__text .paragraph {
        padding-right: 1.6rem; }
      .blog-post__posts__card__text .post-details {
        margin-top: 0.8rem; }
  .blog-post__sidebar {
    width: 40%; }
    .blog-post__sidebar__ad__image {
      width: 100%;
      float: left; }
  @media (min-width: 320px) and (max-width: 576px) {
    .blog-post {
      padding: 4.8rem 2.4rem;
      flex-direction: column; }
      .blog-post__posts {
        width: 100%; }
        .blog-post__posts__card {
          flex-direction: column; }
          .blog-post__posts__card__image {
            width: 100%;
            height: 100%; }
          .blog-post__posts__card__text {
            padding: 0 1.6rem 1.6rem 1.6rem; }
      .blog-post__sidebar {
        width: 100%; }
        .blog-post__sidebar__ad__image {
          width: 100%; } }

.gallery {
  padding: 9.6rem 0;
  display: flex;
  flex-direction: column; }
  .gallery__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.8rem; }
    .gallery__row__card {
      position: relative;
      width: 30%;
      height: 35.2rem;
      overflow: hidden; }
      .gallery__row__card__image {
        width: 150%;
        height: 100%;
        margin-left: -10rem; }
      .gallery__row__card::after {
        position: absolute;
        height: 100%;
        width: 100%;
        content: '';
        top: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(6, 34, 93, 0.404106) 72.92%, rgba(6, 34, 93, 0.54) 84.9%, rgba(6, 34, 93, 0.54) 95.83%); }
      .gallery__row__card .heading-4 {
        position: absolute;
        left: 3.2rem;
        bottom: 3.2rem;
        z-index: 2;
        color: #ffffff;
        font-family: "Raleway", sans-serif;
        font-weight: 400; }
  @media (min-width: 320px) and (max-width: 576px) {
    .gallery {
      padding: 4rem 2.4rem 4.8rem 2.4rem; }
      .gallery__row {
        flex-direction: column; }
        .gallery__row__card {
          width: 100%;
          height: 43rem;
          margin-bottom: 3.2rem; } }

.theme {
  padding: 0 0 9.8rem 0;
  display: flex; }
  .theme__image {
    width: 35%;
    box-shadow: 1px 2px 5px rgba(158, 158, 158, 0.25); }
    .theme__image__pic {
      width: 100%;
      height: 100%; }
  .theme__text {
    width: 65%;
    background-color: #ffffff;
    color: #06225d;
    box-shadow: 1px 1px 5px rgba(158, 158, 158, 0.25);
    padding: 7.2rem 9.6rem 7.2rem 9.6rem; }
    .theme__text .heading-3 {
      color: #06225d;
      margin-bottom: 3.2rem; }
      .theme__text .heading-3 span {
        color: #dd792f; }
  @media (min-width: 320px) and (max-width: 576px) {
    .theme {
      padding: 4.8rem 2.4rem 4.8rem 2.4rem;
      flex-direction: column; }
      .theme__image {
        width: 100%;
        margin-bottom: 3.2rem; }
      .theme__text {
        width: 100%;
        padding: 2.4rem; } }

.contact {
  position: relative;
  width: 100%;
  height: 100vh; }
  .contact__container {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1; }
    .contact__container__image {
      position: absolute;
      width: 100%; }
  .contact__bg {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    z-index: -1; }
    .contact__bg__section {
      width: 25%; }
    .contact__bg__section:nth-of-type(1) {
      background-color: rgba(6, 34, 93, 0.8); }
    .contact__bg__section:nth-of-type(2) {
      background-color: rgba(6, 34, 93, 0.75); }
    .contact__bg__section:nth-of-type(3) {
      background-color: rgba(6, 34, 93, 0.7); }
    .contact__bg__section:nth-of-type(4) {
      background-color: rgba(6, 34, 93, 0.65); }
  .contact__text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff; }
    .contact__text__content {
      width: 45%; }
      .contact__text__content .heading-2 {
        color: #ffffff; }
      .contact__text__content .paragraph:not(:nth-of-type(1)) {
        margin-bottom: 1.2rem; }
      .contact__text__content .paragraph:nth-of-type(1) {
        margin-bottom: 4.8rem; }
      .contact__text__content .social__media {
        margin-top: 1.2rem; }
        .contact__text__content .social__media > * {
          margin-right: 0.8rem; }
    .contact__text__form {
      width: 45%; }
      .contact__text__form input {
        width: 100%;
        background-color: transparent;
        margin-bottom: 3.2rem;
        color: #ffffff; }
        .contact__text__form input::-webkit-input-placeholder {
          color: #ffffff; }
        .contact__text__form input::-moz-placeholder {
          color: #ffffff; }
        .contact__text__form input:-ms-input-placeholder {
          color: #ffffff; }
        .contact__text__form input::-ms-input-placeholder {
          color: #ffffff; }
        .contact__text__form input::placeholder {
          color: #ffffff; }
      .contact__text__form .btn {
        background-color: #dd792f; }
  @media (min-width: 320px) and (max-width: 576px) {
    .contact__container {
      height: 100%; }
      .contact__container__image {
        height: 100%;
        left: -130%;
        width: unset; }
    .contact__bg {
      height: 100%; }
    .contact__text {
      height: 100%;
      padding: 0 2.4rem;
      flex-direction: column;
      justify-content: flex-end; }
      .contact__text__content {
        width: 100%; }
        .contact__text__content .paragraph:nth-of-type(2),
        .contact__text__content .paragraph:nth-of-type(3),
        .contact__text__content .social__media {
          display: none; }
      .contact__text__form {
        width: 100%;
        margin-bottom: 4rem; } }

.login {
  height: 100vh;
  width: 100%;
  position: relative; }
  .login__bg {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -2; }
    .login__bg::after {
      position: absolute;
      height: 100%;
      width: 100%;
      content: '';
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.7); }
    .login__bg__img {
      margin-top: -5%;
      width: 100%;
      height: 135%;
      opacity: 0.5; }
  .login__content {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto; }
    .login__content__form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 4.8rem;
      border-radius: 0.5rem;
      background-color: #ffffff; }
      .login__content__form > * {
        margin-bottom: 2.4rem; }
      .login__content__form .input {
        border: 0.1rem solid #06225d; }
