// Header

.featured-post {
  padding: 9.8rem 0;
  display: flex;
  justify-content: space-between;
  &__main {
    width: 57%;
    &__card {
      width: 100%;
      box-shadow: 1px 2px 5px rgba(158, 158, 158, 0.25);
      & > * {
        margin-bottom: 0.8rem;
      }
      & > *:not(:first-child) {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        &:last-child {
          padding-bottom: 1.6rem;
          margin-bottom: 0;
        }
      }
      &__image {
        width: 100%;
        height: 32rem;
      }
    }
  }
  &__other {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__card {
      display: flex;
      align-items: center;
      box-shadow: 1px 2px 5px rgba(158, 158, 158, 0.25);
      &__image {
        width: 15.2rem;
        height: 15.2rem;
        margin-right: 1.6rem;
      }
    }
  }

  @media (min-width: 320px) and (max-width: 576px) {
    padding: 4rem 2.4rem 4.8rem 2.4rem;
    flex-direction: column;
    &__main {
      width: 100%;
      margin-bottom: 3.2rem;
    }

    &__other {
      width: 100%;
      &__card {
        margin-bottom: 3.2rem;
      }
    }
  }
}

.blog-separator {
  height: 0.1rem;
  border: 0;
  background: rgba($color-primary, 0.5);

  @media (min-width: 320px) and (max-width: 576px) {
    margin: 0 2.4rem;
  }
}

.blog-post {
  padding: 9.8rem 0;
  display: flex;
  justify-content: space-between;
  &__posts {
    width: 57%;
    &__card {
      display: flex;
      box-shadow: 1px 2px 5px rgba(158, 158, 158, 0.25);
      margin-bottom: 4.8rem;
      &__image {
        height: 22.4rem;
        width: 25.6rem;
        margin-right: 1.6rem;
      }
      &__text {
        & .heading-3 {
          margin: 1.6rem 0;
        }
        & .paragraph {
          padding-right: 1.6rem;
        }
        & .post-details {
          margin-top: 0.8rem;
        }
      }
    }
  }
  &__sidebar {
    width: 40%;
    &__ad {
      &__image {
        width: 100%;
        float: left;
      }
    }
  }
  @media (min-width: 320px) and (max-width: 576px) {
    padding: 4.8rem 2.4rem;
    flex-direction: column;
    &__posts {
      width: 100%;
      &__card {
        flex-direction: column;
        &__image {
          width: 100%;
          height: 100%;
        }
        &__text {
          padding: 0 1.6rem 1.6rem 1.6rem;
        }
      }
    }
    &__sidebar {
      width: 100%;
      &__ad {
        &__image {
          width: 100%;
        }
      }
    }
  }
}
