.btn {
  height: 4rem;
  padding: 0 2rem;
  background-color: $color-primary;
  color: $color-white;
  text-transform: capitalize;
  font-family: $font-primary;
  font-size: 1.6rem;
  font-weight: 400;
  outline: none;
  border: 0px;
  border-radius: 0.5rem;
}

input {
  height: 4.8rem;
  border: 2px solid $color-white;
  width: 50rem;
  padding-left: 1.6rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-family: $font-primary;
}

textarea {
  width: 100%;
  background-color: transparent;
  border: 2px solid $color-white;
  border-radius: 0.5rem;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  color: $color-white;
  font-size: 1.6rem;
  outline: none;
  font-family: $font-primary;
}

.seperator {
  width: 8rem;
  height: 0.3rem;
  background: $color-secondary;
  border: 0;
  margin: 2.4rem 0;
}

// Banner
.banner {
  position: relative;
  padding: 9.6rem 0;
  &__image {
    width: 100%;
    height: 54.4rem;
  }
  &__text {
    @include centre;
    justify-content: center;
    height: 100%;
    position: absolute;
    top: 0;
    color: $color-white;
    &__header {
      @include centre;
      & .heading-2 {
        color: $color-white;
      }
      & .paragraph {
        width: 64rem;
        text-align: center;
        margin-bottom: 2.4rem;
      }
    }
    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      &__btn {
        background-color: $color-secondary;
        width: 30%;
        margin-top: 2.4rem;
      }
    }
  }

  @media (min-width: 320px) and (max-width: 576px) {
    &__text {
      &__header {
        & .paragraph {
          width: 85%;
        }
      }
      &__form {
        width: 100%;
        & input {
          width: 85%;
        }
      }
    }
  }
}
