// Header
.header {
  position: relative;
  width: 100%;
  height: 120vh;
  &__container {
    position: absolute;
    top: -9.6rem;
    height: 120vh;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    &__image {
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }
  &__bg {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: -9.6rem;
    width: 100%;
    height: 120vh;
    z-index: -1;
    &__section {
      width: 25%;
    }
    &__section:nth-of-type(1) {
      background-color: rgba($color-primary, 0.8);
    }
    &__section:nth-of-type(2) {
      background-color: rgba($color-primary, 0.75);
    }
    &__section:nth-of-type(3) {
      background-color: rgba($color-primary, 0.7);
    }
    &__section:nth-of-type(4) {
      background-color: rgba($color-primary, 0.65);
    }
  }
  &__text {
    width: 100%;
    top: 18rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-white;
    & .heading-1 {
      color: $color-white;
    }
    & .paragraph {
      width: 70rem;
      text-align: center;
    }
    &__sm {
      margin-top: 3.2rem;
      &__icon {
        width: 4rem;
        &:last-child {
          margin-left: 0.8rem;
        }
      }
    }
  }
}

// Who We Are
.who-we-are {
  display: flex;
  flex-direction: column;
  padding: 5.6rem 16rem;
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.2rem;
    &__container {
      position: relative;
      &__image {
        position: relative;
        left: 3.2rem;
      }
      &__border {
        position: absolute;
        top: 3.2rem;
        height: 100%;
        width: 100%;
        border: 0.3rem solid $color-primary;
        z-index: -1;
      }
    }
    &__text {
      width: 56rem;
    }
  }
}

// Blog
.news {
  display: flex;
  flex-direction: column;
  padding: 9.6rem 16rem;
  &__header {
    @include centre;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    &__card {
      width: 30%;
      height: auto;
      box-shadow: 1px 2px 5px rgba(158, 158, 158, 0.25);
      &__image {
        width: 100%;
        height: 24rem;
      }
      & .heading-4,
      & .paragraph,
      & .post-details {
        padding: 0.8rem 2.4rem;
      }

      & .heading-4 {
        font-family: $font-primary;
        font-weight: 500;
      }

      & .post-details {
        padding-bottom: 1.6rem;
      }
    }
  }
}

.featured {
  padding: 0rem 16rem 9.6rem 16rem;
  display: flex;
  justify-content: space-between;
  &__txt {
    position: relative;
    width: 60%;
    top: 15rem;
    & .heading-3 {
      width: 75%;
      margin-bottom: 3.2rem;
    }
    & .paragraph {
      width: 80%;
      margin-bottom: 3.2rem;
    }
  }
  &__container {
    width: 40%;
    height: calc(36.5rem * 2);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &__img {
      width: 36.5rem;
      height: 24.4rem;
      box-shadow: 0px 0px 15px 15px rgba(158, 158, 158, 0.25);
      &:nth-of-type(2) {
        position: absolute;
        top: 20rem;
        right: 20rem;
        z-index: 5;
      }
      &:nth-of-type(3) {
        position: absolute;
        top: 40rem;
        right: 40rem;
        z-index: 5;
      }
    }
  }
}
