.navbar {
  background-color: transparent;
  margin: 0;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 16rem;
  height: 9.6rem;
  position: relative;

  &__mobile {
    &__menu {
      display: inline-block;
    }
    &__logo {
      display: inline-block;
      margin: 0;
      width: 11.8rem;
    }
  }

  &__nav {
    justify-content: flex-end;
    &__list {
      margin: 0;
      padding-left: 0;
      display: flex;
      align-items: center;

      &__item {
        list-style: none;
        float: left;
        & .active {
        }
        &:not(:last-child) {
          margin-right: 4rem;
        }

        &__link {
          font-size: 1.6rem;
          text-transform: capitalize;
          font-weight: 400;
          color: $color-white;
          & .btn {
            text-transform: capitalize;
          }
        }
      }
    }
    &__btn {
      & .btn {
        background-color: $color-secondary;
      }
    }
  }

  @media (min-width: 320px) and (max-width: 576px) {
    display: block;
    padding: 0;
    &__mobile {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 1.6rem 2.4rem;

      &__logo {
        margin: 0;
        padding: 0;
      }

      &__menu {
        &__bar {
          background-color: $color-white;
          width: 3rem;
          height: 0.2rem;
          margin: 0.8rem 0;
          padding: 0;

          &__hide {
            animation: bar-hide 1s linear forwards;
          }

          @keyframes bar-hide {
            0% {
              width: 0px;
              height: 0px;
            }

            100% {
              width: 0px;
              height: 0px;
            }
          }

          &__cross {
            animation: bar-cross-left 0.5s linear forwards;
          }

          @keyframes bar-cross-left {
            10% {
              transform: rotate(45deg) translate(4px, 4px);
            }

            50% {
              transform: rotate(45deg) translate(7px, 7px);
            }

            100% {
              transform: rotate(45deg) translate(3px, 2px);
            }
          }

          &__across {
            animation: bar-cross-right 0.5s linear forwards;
          }

          @keyframes bar-cross-right {
            10% {
              transform: rotate(-45deg);
            }

            60% {
              transform: rotate(-45deg) translate(-3px, 3px);
            }

            100% {
              transform: rotate(-45deg) translate(1px, -2px);
            }
          }
        }
      }
    }

    &__nav {
      display: none;
      position: static;
      &__toggle {
        display: block;
      }

      &__list {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 0;

        &__item {
          & .active {
          }
          list-style: none;
          float: none;
          padding: 2% 5%;

          &__link {
            font-size: 1.8rem;
            color: $color-primary;
            font-weight: 400;
          }
        }
      }
      &__btn {
        // position: relative;
        padding: 2% 5%;
        display: none;
        & .btn {
          margin-top: 1.6rem;
        }
      }
    }
  }

  @media (min-width: 576px) and (max-width: 768px) {
    display: block;
    padding: 0;
    &__mobile {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 1.6rem 2.4rem;

      &__logo {
        margin: 0;
        padding: 0;
      }

      &__menu {
        &__bar {
          background-color: $color-primary;
          width: 3rem;
          height: 0.2rem;
          margin: 0.8rem 0;
          padding: 0;

          &__hide {
            animation: bar-hide 1s linear forwards;
          }

          @keyframes bar-hide {
            0% {
              width: 0px;
              height: 0px;
            }

            100% {
              width: 0px;
              height: 0px;
            }
          }

          &__cross {
            animation: bar-cross-left 0.5s linear forwards;
          }

          @keyframes bar-cross-left {
            10% {
              transform: rotate(45deg) translate(4px, 4px);
            }

            50% {
              transform: rotate(45deg) translate(7px, 7px);
            }

            100% {
              transform: rotate(45deg) translate(3px, 2px);
            }
          }

          &__across {
            animation: bar-cross-right 0.5s linear forwards;
          }

          @keyframes bar-cross-right {
            10% {
              transform: rotate(-45deg);
            }

            60% {
              transform: rotate(-45deg) translate(-3px, 3px);
            }

            100% {
              transform: rotate(-45deg) translate(1px, -2px);
            }
          }
        }
      }
    }

    &__nav {
      display: none;
      position: static;
      &__toggle {
        display: block;
      }

      &__list {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 0;

        &__item {
          & .active {
            border-left: 1.5px solid $color-secondary;
            padding: 0 0 0 0.5rem;
            border-bottom: 0;
          }
          list-style: none;
          float: none;
          padding: 2% 5%;

          &__link {
            font-size: 1.8rem;
          }
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    padding: 4.8rem 3.2rem;
    &__mobile {
      &__logo {
        &__link {
          &__image {
            height: 5rem;
            width: 11rem;
          }
        }
      }
    }
    &__nav {
      &__list {
        &__item {
          &__link {
            font-size: 1.45rem;
          }
        }
      }
    }
  }
}

.navbar__white {
  &__nav {
    & .navbar__nav__list {
      & .navbar__nav__list__item {
        & .navbar__nav__list__item__link {
          color: $color-black;
        }
      }
    }
    &__btn {
      & .btn {
        background-color: $color-primary;
      }
    }
  }
}

.footer {
  padding: 9.6rem 16rem;
  background-color: $color-primary;
  color: $color-white;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  &__logo {
    margin-bottom: 2.4rem;
    &__image {
      height: 5.6rem;
    }
  }
  &__text {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 3.2rem;
    &__item {
      display: flex;
      &__image {
        margin-right: 0.8rem;
      }
    }
  }

  hr {
    height: 0.1rem;
    background: $color-white;
    border: 0;
    margin-bottom: 3.2rem;
  }

  &__dev {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & .paragraph {
      font-size: 1.4rem;
    }
    &__sm {
      & img {
        height: 2.4rem;
      }
    }
  }

  @media (min-width: 320px) and (max-width: 576px) {
    padding: 9.6rem 2.4rem;
    &__text {
      flex-direction: column;
      & > * {
        margin-bottom: 1.6rem;
      }
    }
    &__dev {
      flex-direction: column-reverse;
      align-items: flex-start;
      &__sm {
        margin-bottom: 2.4rem;
        margin-left: -1.6rem;
      }
    }
  }
}
